main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

    main h2 {
        font-family: 'Ruda', sans-serif;
        font-size: 48px;
        margin: auto;
        margin-bottom: 30px;
    }

#create-idea-post {
    display: flex;
    justify-content: center;
}

    #create-idea-post div {
        margin: 0 3% 30px 3%;
    }

p {
    text-align: center;
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
    opacity: 0.5;
    margin-bottom: 20px;
}

label {
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
}

input:not(:first-child), select {
    width: 260px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}

textarea {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sbm-btn {
    text-align: center;
}

button:last-child {
    border: 0;
    background-color: #02005C;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 23px;
}

    button[disabled="disabled"]:last-child {
        background-color: #02005C;
        opacity: 0.5;
    }
