
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item-head a:not(:last-child) {
    font-weight: normal;
    font-size: 28px;
    text-decoration: underline;
    /* border-bottom: 1px solid black;
    padding: 0.5px; */
    color: black;
}

.project-item-head a:last-child {
    text-decoration: none;
    opacity: 0.5;
    color: black;
}

span {
    opacity: 0.5;
}

a {
    margin-right: 10px;
}

.project-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item {
    width: 45%;
    margin-top: 2%;
    border: 1px solid black;
    padding: 2%;
    height: auto;
}

.project-item-description {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-item input[type=submit]{
    background-color: #02005C;
    color: white;
    border: none;
    font-size: 16px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
