@{ 
    ViewBag.Title = "CodeLab";
}

    <main>
        <div class="head">
            <h1>CodeLab</h1>
            <p>Платформа для обучения и <br> практики <br> по программированию</p>
        </div>
        <div class="advantages">
            <div class="advantages-image">
                <img src="~/img/developer-3461405_1280.png" alt="">
            </div>
            <div class="advantages-list">
                <ul class="advantage-items">
                    <li class="advantage-item">
                        <h3>Общайтесь</h3>
                        <p>Находите сообщников и совместно<br> создавайте новые проекты. Ищите <br> новых знакомых в мире IT</p>
                    </li>
                    <li class="advantage-item">
                        <h3>Развивайтесь</h3>
                        <p>Помогайте новичкам, получайте <br> советы и делитесь ценным опытом <br> в разработке ПО</p>
                    </li>
                    <li class="advantage-item">
                        <h3>Практикуйтесь</h3>
                        <p>Реализуйте свои идеи, находите <br> проекты других людей и внесите <br> свой вклад в их развитие</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="guide">
            <h2>Руководство</h2>
            <ol>
                <li>Зарегистрируйтесь на GitHub</li>
                <li>Зарегистрируйтесь на нашем сайте</li>
                <li>Создайте репозиторий на GitHub</li>
                <li>Опубликуйте ваш проект</li>
                <li>Пригласите друзей или объединитесь с другими программистами</li>
                <li>Получайте удовольствие от совместной реализации проекта</li>
            </ol>
        </div>
    </main>
